#colorful-nav {
    padding-bottom: 0px;
    border: 1px transparent;
}

#colorful-nav .navbar {
    margin-bottom: 0px;
}

#colorful-nav {
    background-color: transparent;
}

#colorful-nav .navbar-nav {
    border-radius: 10px;
    float:none;
    height: 5%;
}

#colorful-nav .navbar-collapse {
    border-top: 0;
}

#colorful-nav ul>li {
    float:left;
    text-align: center;
    width: 20%;
    padding-bottom: 13px;
    transition: 0.2s padding-top;
}

#colorful-nav ul>li:hover {
    padding-top: 10px;
}

#colorful-nav .navbar-nav>a {
    padding-top: 15px;
    color: white;
}

#colorful-nav ul>a:hover,
#colorful-nav ul>a:focus {
    background-color: transparent;
    text-decoration: none;
}

#colorful-nav .glyphicon{
    font-size: 30px;
    margin-bottom: 10px;
    padding-top: 10px;
    color: white;
}
#colorful-nav .fa{
    font-size: 30px;
    margin-bottom: 10px;
    padding-top: 10px;
    color: white;
}

#colorful-nav .icon-bar {
    background-color: #eb8b1b;
}

#colorful-nav .navbar-toggle {
    float: left;
    border-color: #eb8b1b;
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 10px;
}

#colorful-nav .navbar-brand {
    height: 100px;
}

#colorful-nav h5{
    color:white;
}

#colorful-nav .home {
    background-color: #eb8b1b;
}

#colorful-nav .sop {
    background-color: #FFCC00;
}

#colorful-nav .document {
    background-color: #AADD00;
}

#colorful-nav .login {
    background-color: #00CCCC;
}

#colorful-nav .angleb {
    background-color: #666699;
}

#colorful-nav .facebook {
    
    background-color: #3B5998;
}

#colorful-nav .search {
    background-color: #2253e2;
}

@media screen and (max-width: 767px){

    #colorful-nav ul>li {
        text-align: center;
        width: 100%;
    }

    #colorful-nav ul>li:hover{
        padding-top: 0px;
    }
}